In [13]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [17]:
import os
os.chdir('..')   # move to ML & AI Pratice root

In [18]:
dataset = pd.read_csv(r'Datasets/data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [16]:
import os 
os.getcwd()

'd:\\python\\ML & AI Pratice\\Regression'

In [ ]:
print(X)

[['2014-05-02 00:00:00' 313000.0 3.0 ... '18810 Densmore Ave N'
  'Shoreline' 'WA 98133']
 ['2014-05-02 00:00:00' 2384000.0 5.0 ... '709 W Blaine St' 'Seattle'
  'WA 98119']
 ['2014-05-02 00:00:00' 342000.0 3.0 ... '26206-26214 143rd Ave SE'
  'Kent' 'WA 98042']
 ...
 ['2014-07-09 00:00:00' 416904.166667 3.0 ... '759 Ilwaco Pl NE' 'Renton'
  'WA 98059']
 ['2014-07-10 00:00:00' 203400.0 4.0 ... '5148 S Creston St' 'Seattle'
  'WA 98178']
 ['2014-07-10 00:00:00' 220600.0 3.0 ... '18717 SE 258th St' 'Covington'
  'WA 98042']]

In [ ]:
print(y)

['USA' 'USA' 'USA' ... 'USA' 'USA' 'USA']

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [ ]:
print(X)

[['2014-05-02 00:00:00' 313000.0 3.0 ... '18810 Densmore Ave N'
  'Shoreline' 'WA 98133']
 ['2014-05-02 00:00:00' 2384000.0 5.0 ... '709 W Blaine St' 'Seattle'
  'WA 98119']
 ['2014-05-02 00:00:00' 342000.0 3.0 ... '26206-26214 143rd Ave SE'
  'Kent' 'WA 98042']
 ...
 ['2014-07-09 00:00:00' 416904.166667 3.0 ... '759 Ilwaco Pl NE' 'Renton'
  'WA 98059']
 ['2014-07-10 00:00:00' 203400.0 4.0 ... '5148 S Creston St' 'Seattle'
  'WA 98178']
 ['2014-07-10 00:00:00' 220600.0 3.0 ... '18717 SE 258th St' 'Covington'
  'WA 98042']]

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [ ]:
print(X)

[['2014-05-02 00:00:00' 313000.0 3.0 ... '18810 Densmore Ave N'
  'Shoreline' 'WA 98133']
 ['2014-05-02 00:00:00' 2384000.0 5.0 ... '709 W Blaine St' 'Seattle'
  'WA 98119']
 ['2014-05-02 00:00:00' 342000.0 3.0 ... '26206-26214 143rd Ave SE'
  'Kent' 'WA 98042']
 ...
 ['2014-07-09 00:00:00' 416904.166667 3.0 ... '759 Ilwaco Pl NE' 'Renton'
  'WA 98059']
 ['2014-07-10 00:00:00' 203400.0 4.0 ... '5148 S Creston St' 'Seattle'
  'WA 98178']
 ['2014-07-10 00:00:00' 220600.0 3.0 ... '18717 SE 258th St' 'Covington'
  'WA 98042']]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
print(y)

[0 0 0 ... 0 0 0]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
print(X_train)

[['2014-06-16 00:00:00' 460000.0 2.0 ... '4008 2nd Ave NW' 'Seattle'
  'WA 98107']
 ['2014-06-05 00:00:00' 749950.0 4.0 ... '18230 NE 146th Way'
  'Woodinville' 'WA 98072']
 ['2014-06-09 00:00:00' 965000.0 4.0 ... '14461 156th Ave NE'
  'Woodinville' 'WA 98072']
 ...
 ['2014-05-19 00:00:00' 280000.0 3.0 ... '454 A St' 'Renton' 'WA 98056']
 ['2014-07-07 00:00:00' 775000.0 4.0 ... '18096-18162 NE 143rd Pl'
  'Woodinville' 'WA 98072']
 ['2014-05-07 00:00:00' 503000.0 3.0 ... '9626 NE 129th Pl' 'Kirkland'
  'WA 98034']]

In [ ]:
print(X_test)

[['2014-05-27 00:00:00' 389000.0 5.0 ... '14323 73rd Ave NE' 'Kenmore'
  'WA 98028']
 ['2014-06-02 00:00:00' 1000000.0 3.0 ... '13428 NE 12th Pl' 'Bellevue'
  'WA 98005']
 ['2014-05-23 00:00:00' 355000.0 3.0 ... '9245a Interlake Ave N'
  'Seattle' 'WA 98103']
 ...
 ['2014-06-30 00:00:00' 1165000.0 3.0 ... '3809 E Alder St' 'Seattle'
  'WA 98122']
 ['2014-06-27 00:00:00' 417000.0 4.0 ... '535 NE 117th St' 'Seattle'
  'WA 98125']
 ['2014-07-03 00:00:00' 609000.0 3.0 ... '3644 Phinney Ave N' 'Seattle'
  'WA 98103']]

In [ ]:
print(y_train)

[0 0 0 ... 0 0 0]

In [ ]:
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]